{{extend '../layouts/layout.html'}}

{{block 'body'}}
<div class="container-fluid">
      <div class="page-title">
        <h1>修改密码</h1>
      </div>
      <!-- 有错误信息时展示 -->
      <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
      <form class="form-horizontal">
        <div class="form-group">
          <label for="old" class="col-sm-3 control-label">旧密码</label>
          <div class="col-sm-7">
            <input id="old" class="form-control" name="oldpwd" type="password" placeholder="旧密码">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">新密码</label>
          <div class="col-sm-7">
            <input id="newpwd" class="form-control" name="newpwd" type="password" placeholder="新密码">
          </div>
        </div>
        <div class="form-group">
          <label for="confirm"  class="col-sm-3 control-label">确认新密码</label>
          <div class="col-sm-7">
            <input id="confirm"  name="pwd2" class="form-control" type="password" placeholder="确认新密码">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-7">
            <button type="submit" class="btn btn-primary">修改密码</button>
          </div>
        </div>
      </form>
    </div>
{{/block}}

{{block 'js'}}
<script src="/assets/vendors/jquery/jquery.js"></script>
<script src="/assets/vendors/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/vendors/validate/jquery.validate.js"></script>
<script type="text/javascript">
//验证新密码是否一致
$('.form-horizontal').validate({
  rules: {
    newpwd: {
      required: true,
      rangelength:[5,20]
    },
    pwd2: {
      equalTo: "#newpwd"
    }

  },
  messages: {
    newpwd: {
      required:"密码不能为空",
      rangelength:"密码长度在5-20位之间"
    },
    pwd2: {
      equalTo: "两次密码不一致"
    }
  },
  submitHandler: function(){
    // console.log(1111)
    // 修改密码
    $.ajax({
      url: '/api/center/passwd',
      type: 'post',
      data: $('.form-horizontal').serialize(),
      dataType: 'json',
      success: function(result){
        alert(result.message)
      }
    })
  }  
 
})








</script>

{{/block}}